@media (min-width:1px) {
    .actions, .grid-svg, .profile-icon, .more-actions, .carousel{
        display: none;
    }
    #display-1024{
        display: none;
    }
    #display-1280-block{
        display: none;
    }
}
@media (min-width:1024px) {
    .nav-list-icon{
        display: none;
    }
    #display-768{
        display: none;
    }
    #display-1024{
        display: block;
    }
    .actions, .grid-svg, .profile-icon, .more-actions, .carousel{
        display: block;
    }
    
}
@media (min-width:1280px) {
    #display-1280-none{
        display: none;
    }
    #display-1280-block{
        display: block;
    }
    #dropdown{
        width: 150px;
    }
    #project-buttons{
        width: 100%;
    }
    #new-ptoject{
        width: 150px;
    }
}

@media (max-width:1439px) {
    #container{
        width: 80%;
    }
    .social-container-icons{
        width: 60%;
    }
}
@media (min-width:1440px) {
    #display-1280-block{
        display: none;
    }
    #container{
        width: 100%;
    }
    #display-1440-none{
        display: none;
    }
    .social-container-icons{
        width: 50%;
    }
}